/* Top section css */
.top-section {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: 3%; 
}
.plate {
  width: 50%;
  max-width: 1000px;
}
.fork, .knife {
  width: 12%; 
  max-width:200px;
}

/* Reservation section css */
.reservation-section {
  display: flex;
  justify-content: center;
  position: relative;
}
.sign {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 300px;
  margin-top: -50px;
}
.pan {
  margin-left: 200px;
  margin-top: -250px;
  max-width: 900px;
}