.subtract,
.add {
  border-radius: 100em;
  background-color: transparent;
  height: 3em;
  width: 3em;
  font-size: 1em;
  border: white 0.125em solid;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subtract {
  color: white;
}

.add {
  border-color: black;
  color: black;
}

.bottom-section {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.ticket-count {
  height: 3em;
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin: auto;
}
.ticket-count div {
  margin: 0 1em;
}
.shopping-cart-item {
  width: 30%;
  margin-right: 3%;
  margin-bottom: 1.25em;
  height: 12.5em;
  position: relative;
  border-radius: 0.625em;
  background-size: cover;
  background-position: center;
  border: 0.125em solid white;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.625em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.25em;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.top-section,
.middle-section,
.bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container label {
  margin-left: 1em;
}

.date-time {
  font-weight: bold;
}

.price {
  text-align: left;
}

.item-name {
  font-weight: bold;
}
.full-width {
  width: 100%;
}