.homeCard{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 70%;
    min-height: 13em;
    background-size: cover;
    margin: 1em auto;
    padding: 1em;
    border-radius: 1em;
    height: max-content;
    p{
        width: 50%;
        font-size: 1.2rem;
    }
}

.textRight{
    flex-direction: row-reverse;
}

.textBlack{
    color: black;
}   