@import '../../assets/variables.scss';

.card{

    width: 15em;
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    background-color: $primary-color;
    padding: 1em;

    img{
        border-radius: 1em;
    }

    h2{
        font-size: 1.5em;
        margin: 0.5em 0 0 0;
    }
}

.history{
    background-color: $histor-card;
    color: black;
}

.jazz{
    background-color: $jazz-card;
}

.music{
    background-color: $music-card;
}