@import '../../assets/variables.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1000;
  background-color: $primary-color; 
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

nav {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around; 
}

.header-link {
  display: flex;
  align-items: center;   
  justify-content: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.header-image {
  height: 100px;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-size: contain; 
  background-position: center; 
  background-repeat: no-repeat; 
}

.user-dropdown {
  position: absolute;
  left: 0;
  right: 0;
  background-color: $primary-color; 
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-dropdown a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
}

// Header link images
.shop { background-image: url('../../assets/images/header/Shopheader.png'); }
.dance { background-image: url('../../assets/images/header/Danceheader.png'); }
.jazz { background-image: url('../../assets/images/header/Jazzheader.png'); }
.yummy { background-image: url('../../assets/images/header/Yummyheader.png'); }
.home { background-image: url('../../assets/images/header/Homeheader.png'); }
.history { background-image: url('../../assets/images/header/Historyheader.png'); }
.user { background-image: url('../../assets/images/header/Userheader.png'); }
.language { background-image: url('../../assets/images/header/Languageheader.png'); }