.management {
  max-width: 50em; 
  margin: 0 auto;
  padding: 1.25em; 
}

.filters {
  margin-bottom: 1.25em;
  display: flex;
  gap: 0.625em;
  justify-content: space-between;
  margin-bottom: 1.25em;
}

.search-input, .role-select, .sort-select, select {
  padding: 0.625em;
  border: 0.0625em solid #ccc; 
  border-radius: 0.25em; 
  width: 100%;
  &:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  text-align: left;
  padding: 0.5em; 
  border-bottom: 0.0625em solid #ffffff; 
}

th {
  background-color: #000000;
  cursor: pointer;
}

th:hover {
  background-color: #000000;
}
tr:nth-child(even) {
  background-color: #3f413e;
}

button {
  padding: 0.625em 1.25em;
  border: none;
  border-radius: 0.25em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  color: #000;
  background-color: #ffffff;
}
.admin-page header {
  display: none;
}
