@import './variables.scss';

:root {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: $primary-color;
  color: $secondary-color;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
  padding-top: 5em;
  width: 100%;
  height: calc(100vh - 5em);
  overflow: auto;
}

button {
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }
}
