@import './variables.scss';

:root{
  width: 100vw;
  height: 100vh;
  background-color: $primary-color;
  color: $secondary-color;
}

main{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}