$primary-color: #011b2c;
$secondary-color: #e8e8e8;
$tertiary-color: #304c68;
$danger-color: #e37222;
$purple: #562799;
$purple-hover: #30115b;
$histor-card: #c1d1c1;
$histor-button: #d39541;
$jazz-card: #754720;
$jazz-button: #c97332;
$dance-card: #000080;
$dance-button: #FFA500;
$yummy-card: #445a59;
$yummy-button: #edd83d;
$primary-color-login: #007bff;
$hover-color-login: #0056b3;
