@import '../../assets/variables.scss';

.background-picture {
  width: 100%;
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.37) 0%, rgba(0, 0, 0, 0.37) 100%),
    url('../../assets/images/history/history-background.png'),
    lightgray 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 2em 0 2em 0;
  color: white;
}
.body-text {
  * {
    padding: 0 2em 0 2em;
  }
}
.cards-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0;
}
#cards {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: center;
  flex-wrap: wrap;
}
