@import '../../assets/variables.scss';

.background-picture {
    width: 100%; // Add this line to make the element take full width
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.37) 0%, rgba(0, 0, 0, 0.37) 100%), url('../../assets/images/history/history-background.png'), lightgray 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: 1rem;
    
}

h3 {
    font: bold;
}

